.header-color {
  background: #fbe8a6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fbe8a6,
    #f4976c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fbe8a6,
    #f4976c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  filter: saturate(150%);
  font: Noto Sans;
  font-weight: 200;
}

.landing-grid {
  background: #fbe8a6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fbe8a6,
    #f4976c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fbe8a6,
    #f4976c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  filter: saturate(150%);
  text-align: center;
  min-height: 100vh;
}

.logo {
  height: auto;
  align-content: center;
  overflow: "visible";
  max-height: 50%;
  max-width: 50%;
  width: auto;
}

.drawer {
  color: #303c6c;
}

.banner-text {
  width: 75%;
  border-radius: 3vh;
  border-style: solid;
  border-color: #000000;
  margin: auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
  position: relative;
}

.banner-text h1 {
  font-size: 200%;
  font-weight: 100;
  text-align: center;
  font: Noto Sans;
}

.banner-text hr {
  width: 70%;
  margin: auto;
  border-top: 0.5vh solid black;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  padding-bottom: 6em;
}

.Linkedin:hover {
  cursor: pointer;
  filter: saturate(500%);
}

.Github:hover {
  cursor: pointer;
  filter: invert(100%);
}

.Gmail:hover {
  cursor: pointer;
  filter: saturate(500%);
}

.Skype:hover {
  cursor: pointer;
  filter: saturate(500%);
}

.footie {
  text-align: center;
  position: relative;
}

.profile {
  padding-top: 30px;
  height: 300px;
  margin: auto;
}

.profile-text {
  margin: auto;
  width: 75%;
  border-radius: 3vh;
  border-style: solid;
  border-color: #000000;
}

.about-intro {
  font: Noto-Sans;
  font-weight: 200;
  font-size: 30px;
}

.profile-text p {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  font: Noto Sans;
  padding: 30px 0;
  line-height: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

.projects-grid {
  display: flex;
  justify-content: space-between;
  min-height: 100%;
  height: 100%;
  flex-wrap: wrap;
  flex: 0 1 calc(25% - 1em);
}

.content {
  min-height: 100vh;
  background: #fbe8a6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fbe8a6,
    #f4976c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fbe8a6,
    #f4976c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  filter: saturate(150%);
}

.resume-page {
  min-height: 85vh;
  background: #fbe8a6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fbe8a6,
    #f4976c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fbe8a6,
    #f4976c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  filter: saturate(150%);
}

.contact-page {
  min-height: 85vh;
  background: #fbe8a6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fbe8a6,
    #f4976c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fbe8a6,
    #f4976c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  filter: saturate(150%);
  text-align: center;
  padding-top: 15vh;
}

.resume-right-col {
  border-style: solid;
  border-color: #000000;
  padding: 2em;
  border-radius: 3vh;
}

.resume-right-col h2 {
  font: Noto-Sans;
  font-weight: 200;
  font-size: 30px;
}

.resume-page h2 {
  font: Noto-Sans;
  font-weight: 200;
  font-size: 30px;
}

.timeframe {
  font: Noto-Sans;
  font-weight: 200;
}

.workname {
  font: Noto-Sans;
  font-weight: 200;
}

.position {
  font: Noto-Sans;
  font-weight: 200;
  font-size: 20px;
}

.exp-description {
  font: Noto-Sans;
  font-weight: 200;
}

.contact-form {
  max-width: 420px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.contact-form p {
  font: Noto Sans;
  font-weight: 200;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  font-size: 20px;
}

.contact-form Button {
  padding-bottom: 20px;
  margin: auto;
}

.contact-border {
  margin: auto;
  width: 75%;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
}

.contact-form h1 {
  text-align: center;
  font-weight: 200;
  font: Noto-Sans;
  font-size: 30px;
}

.contact-form input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contact-page a {
  color: black;
  text-decoration: none;
}

.contact-page a:hover {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
