.header-color {
  background: #768f7e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #768f7e,
    #a7b9ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #768f7e,
    #a7b9ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  filter: saturate(150%);
  font: Noto Sans;
  font-weight: 200;
}

.landing-grid {
  background: #768f7e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #768f7e,
    #a7b9ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #768f7e,
    #a7b9ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  filter: saturate(150%);
  text-align: center;
}

.logo {
  height: 300px;
}

.banner-text {
  width: 75%;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  align-content: center;
  text-align: center;
  margin: auto;
}

.banner-text img {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.banner-text h1 {
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  font: Noto Sans;
}

.banner-text hr {
  width: 70%;
  margin: auto;
  border-top: 4px solid;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  padding-bottom: 6em;
}

.Linkedin:hover {
  cursor: pointer;
  filter: saturate(500%);
}

.Github:hover {
  cursor: pointer;
  filter: invert(100%);
}

.Gmail:hover {
  cursor: pointer;
  filter: saturate(500%);
}

.Skype:hover {
  cursor: pointer;
  filter: saturate(500%);
}

.footie {
  text-align: center;
  position: relative;
}

.profile {
  padding-top: 30px;
  height: 300px;
  margin: auto;
}

.profile-text {
  margin: auto;
  width: 75%;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
}

.about-intro {
  font: Noto-Sans;
  font-weight: 200;
  font-size: 30px;
}

.profile-text p {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  font: Noto Sans;
  padding: 30px 0;
  line-height: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

.projects-grid {
  display: flex;
  justify-content: space-between;
}

.content {
  min-height: 87%;
  background-color: #768f7e7a;
}

.resume-page {
  min-height: 87%;
}

.contact-page {
  min-height: 87%;
  background: #768f7e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #768f7e,
    #a7b9ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #768f7e,
    #a7b9ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.resume-right-col {
  color: white;
  background: #27221f;
  padding: 2em;
  
}

.contact-form {
  max-width: 420px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.contact-border {
  margin: auto;
  width: 75%;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
}

.contact-form h1 {
  text-align: center;
  font-weight: 200;
  font: Noto-Sans;
  font-size: 30px;
}

.contact-form input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
